# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.pytest_cache/
coverage.xml
htmlcov/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# SQLite
*.sqlite3

# Logs
*.log

# Others
*.egg
*.wheel
*.env
